In [5]:
# Task1
"""
Task: Format and Analyze a Sentence
Description: Given a sentence, perform the following operations:

- Convert the entire sentence to uppercase.
- Count the number of occurrences of the letter 'E'.
- Replace all occurrences of the word "bad" with "good".
- Capitalize the first letter of each word.
- Find the length of the modified sentence.
- Extract a substring from the modified sentence, Get the first 10 characters.

Sample Input:
-------------
sentence = "This is a bad example of a bad situation."

Sample Output:
--------------
Uppercase: THIS IS A BAD EXAMPLE OF A BAD SITUATION.
Occurrences of 'E': 2
Replaced: This is a good example of a good situation.
Capitalized: This Is A Good Example Of A Good Situation.
Length: 43
Sliced Substring: This is a 
"""

sentence = "This is a bad example of a bad situation."
sentence1 = sentence.upper()
print(f"Uppercase: {sentence1}")
print(f"Occurences of 'E': {sentence1.count('E')}")

sentence = sentence.replace("bad", "good")
print(f"Replaced: {sentence}")
print(f"Length: {len(sentence)}")
print(f"Sliced Substring: {sentence[:10]}")

Uppercase: THIS IS A BAD EXAMPLE OF A BAD SITUATION.
Occurences of 'E': 2
Replaced: This is a good example of a good situation.
Length: 43
Sliced Substring: This is a

In [15]:
""" 
TASK: Get the username from the user and generate the userid
For Memory Issues, Limit the userid to length 10 with following conditions
  - if the length of userid is less than 10, then cover it with 0 at prefix
  - if length of userid exceeds 10, then remove the extra characters

For the security reasons, we had to mask the user id with following:
  replace the last two characters with 'X'
Print the userid along with masked userid

Sample Input1:
  nick
Sample Output1:
  000000nick ---- 000000niXX

Sample Input2:
  codewala
Sample Output2:
  00codewala ---- 00codewaXX

Sample Input3:
  SteeveRogers
Sample Output3:
  SteeveRoge ---- SteeveRoXX

"""
print()
name = "steeverogers"
n = (10 - len(name))
userid = (n*"0") + name
masked = userid[:8]+"XX"
# print(userid, userid[:8]+"XX")
print(f"{userid} ---- {masked}")

name = "steeverogers"
userid = ((10 - len(name))*"0") + name
print(f"{userid} ---- {userid[:8]+"XX"}")

steeverogers ---- steeveroXX
steeverogers ---- steeveroXX

In [12]:
""" 
TASK: Take email as an input from user, than can contain 
      lower, upper, numbers and domains like @gmail.com, @hotmail.com, @yahoo.com
    After separating the domain,
      print the domainless lowercase name and count the number of vowels in the email.

      Your code should work for all the mails, irrespective of the domain.
      NOTE: No invalid email should be taken

Sample Input1:
  NIck@gmail.com
Sample Output1:
  nick ---- 1

Sample Input2:
  coDEwala@yahoo.com
Sample Output2:
  codewala ---- 4

Sample Input3:
  SteeveRogers123@hotmail.com
Sample Output3:
  steeverogers123 ---- 5

"""
print()
email = input("Enter Email: ").lower()
# SteeveRogers123@hotmail.com
ind = email.find("@")
vowels = "aeiou"
domainless =  email[0:ind]
cnt = 0
for v in range(5):
    letter = vowels[v] #a
    cnt += domainless.count(letter) #domain@gmail.com
print(domainless, cnt)
# print(domainless.count("a")+domainless.count("e"))

domain 3

In [6]:
""" 
Take a sentence and separate the vowels and consonants.
Do not convert the sentence into lower.
If the sentence contains 0 in it, consider it as invalid,
    you dont have to separate vowels & consonants

Sample Input1:
  This Is codewala
Sample Output1:
  [vowels] --- iIoeaa
  [consonants] --- Thsscdwl

Sample Input2:
  This Is DSA
Sample Output2:
  [vowels] --- iIA
  [consonants] --- ThssDS

Sample Input3:
  I Could Do This All day
Sample Output3:
  [vowels] --- IouoiAa
  [consonants] --- CldDThslldy

CONSTRAINTS:
  should not take special characters and numbers
  sentence can have spaces
  output should not contain spaces
"""
sentence = "I Could Do This All day"
sentence = sentence.replace(" ", "")
vowels = ""
consonents = ""

if '0' in sentence:
    print("Invalid")
else:
    for letter in range(len(sentence)):
        if sentence[letter] in "aeiouAEIOU":
            vowels += sentence[letter]
        else:
            consonents += sentence[letter]
print(f"[vowels] ---{vowels}")
print(f"[consonents] ---{consonents}")

[vowels] ---IouoiAa
[consonents] ---CldDThslldy

In [10]:
"""  
Create empty list 'names' and Get n inputs from the user & store it in 'names'
After taking n inputs, 
	convert even indexed words into upper and odd indexed words to lower

finally, form a sentence with all the modified words into one sentence separated by -
print the list after modified
print the combined sentence separated with -

Sample Input1:
  ["Alaric", "SteFan", "Damon", "ElEna"]
Sample Output1:
  ["ALARIC", "stefan", "DAMON", "elena"]
  ALARIC-stefan-DAMON-elena

Sample Input2:
  ["Chris", "Evans", "Steeve", "CodeWala"]
Sample Output2:
  ["CHRIS", "evans", "STEEVE", "codewala"]
  CHRIS-evans-STEEVE-codewala

Sample Input3:
  ["Caroline", "KlaUs"]
Sample Output3:
  ["CAROLINE", "klaus"]
  CAROLINE-klaus

CONSTRAINTS:
  words can have upper/lower/digits in it 

"""
names = []
for i in range(5):
    user = input()
    names.append(user)

for i in range(5):
    if i%2 == 0:
        names[i] = names[i].upper()
    else:
        names[i] = names[i].lower()
print(names)
print("-".join(names))

['NICK', 'stefan', 'DAMON', 'elijah', 'STEEVE']
NICK-stefan-DAMON-elijah-STEEVE

In [ ]:
""" 
data = [[1001, "steeve", ["brooklyn", "USA", ["captain america"]]]]
extract the captain america from the data and print it in uppercase

OUTPUT:- 
  CAPTAIN AMERICA
"""
data = [[1001, "steeve", ["brooklyn", "USA", ["captain america"]]]]
print(data[0][2][2][0])

captain america

In [14]:
""" 
employee_db = [
        (1234, 'John', 'Physics', 23000),
        (1235, 'Nick', 'Maths', 13000),
        (1236, 'Samantha', 'Maths', 40000), 
        (1237, 'Amanda', 'Chemistry', 25000), 
        (1238, 'Vicky', 'Maths', 10000), 
    ]
print least salaried employee
print highest salaried employee
print Maths employees
sorting based on employees salaries
Print employees whose name starts with A
Print employees whose salary is in range of 20000 to 30000 (inclusive).
print even id Employees
----------MORE TASKS---------
count number of maths employees
count number of vowels in each employee name
reverse the characters in subjects and print only subjects
print the (name in lowercase, subject in uppercase)
Generate user id for each user by concatenating name and id (eg:- Nick_1235)
"""

employee_db = [
        (1234, 'John', 'Physics', 23000),
        (1235, 'Nick', 'Maths', 13000),
        (1236, 'Samantha', 'Maths', 40000), 
        (1237, 'Amanda', 'Chemistry', 25000), 
        (1238, 'Vicky', 'Maths', 10000), 
    ]

# Least salaried employee
minimum_sal = float("inf")
employee_name = ""

for data in range(len(employee_db)):
    name, salary = employee_db[data][1], employee_db[data][3]
    if salary < minimum_sal:
        minimum_sal = salary
        employee_name = name
print(f"[QUERY-1]-->{minimum_sal, employee_name}")
# ----------------------------------------------------------

# Highest salaried employee
maximum_sal = float("-inf")
employee_name = ""

for data in range(len(employee_db)):
    name, salary = employee_db[data][1], employee_db[data][3]
    if salary > maximum_sal:
        maximum_sal = salary
        employee_name = name
print(f"[QUERY-2]-->{maximum_sal, employee_name}")

# -------------------------------------------------------------

# Maths employees
maths_employees = []
for data in range(len(employee_db)):
    name, subject = employee_db[data][1], employee_db[data][2]
    if subject == "Maths":
        maths_employees.append((name, subject))
print(f"[QUERY-3]--->{maths_employees}")

# -----------------------------------------------------------------

# Print employees whose name starts with A
employees = []
for data in range(len(employee_db)):
    name = employee_db[data][1]
    if name[0] == "A":
        employees.append(name)
print(f"[QUERY-4]--->{employees}")

# ------------------------------------------------------------------

# Print employees whose salary is in range of 20000 to 30000 (inclusive).
employees = []
for data in range(len(employee_db)):
    name, salary = employee_db[data][1], employee_db[data][3]
    if (salary >= 20000) and (salary <= 30000):
        employees.append((name, salary))
print(f"[QUERY-5]--->{employees}")

# ----------------------------------------------------------------------

# print even id Employees
employees = []
for data in range(len(employee_db)):
    _id, name = employee_db[data][0], employee_db[data][1]
    if _id % 2 == 0:
        employees.append((_id, name))
print(f"[QUERY-6]--->{employees}")

# ----------------------------------------------------------------------

# Count number of Maths employees
maths_employees_cnt = 0 
for data in range(len(employee_db)):
    name, subject = employee_db[data][1], employee_db[data][2]
    if subject == "Maths":
        maths_employees_cnt += 1
print(f"[QUERY-7]---> {maths_employees_cnt}")

print()
# ----------------------------------------------------------------------

# Count number of vowels in each employee name
vowels = "aeiou"
for data in range(len(employee_db)):
    employee_name = employee_db[data][1].lower()
    employee_vowel_cnt = 0
    for letter in range(len(employee_name)):
        if employee_name[letter] in vowels:
            employee_vowel_cnt += 1
    print(f"{employee_name}--{employee_vowel_cnt}")

print()
# ----------------------------------------------------------------------

#    reverse the characters in subjects

for data in range(len(employee_db)):
    subject = employee_db[data][2]
    print(subject[::-1])

print()
# ----------------------------------------------------------------------

#print the (name in lowercase, subject in uppercase)

for data in range(len(employee_db)):
    name, subject = employee_db[data][1].lower(), employee_db[data][2].upper()
    print(name, subject)


# ----------------------------------------------------------------------

# Generate user id for each user by concatenating name and id (eg:- Asma_1235)
print(f"")
for data in range(len(employee_db)):
    id, name = employee_db[data][0], employee_db[data][1]
    name += "_"
    name += str(id)
    print(name)

[QUERY-1]-->(10000, 'Vicky')
[QUERY-2]-->(40000, 'Samantha')
[QUERY-3]--->[('Nick', 'Maths'), ('Samantha', 'Maths'), ('Vicky', 'Maths')]
[QUERY-4]--->['Amanda']
[QUERY-5]--->[('John', 23000), ('Amanda', 25000)]
[QUERY-6]--->[(1234, 'John'), (1236, 'Samantha'), (1238, 'Vicky')]
[QUERY-7]---> 3

john--1
nick--1
samantha--3
amanda--3
vicky--1

scisyhP
shtaM
shtaM
yrtsimehC
shtaM

john PHYSICS
nick MATHS
samantha MATHS
amanda CHEMISTRY
vicky MATHS

John_1234
Nick_1235
Samantha_1236
Amanda_1237
Vicky_1238

In [16]:
""" 
create a function which takes two positional arguments i.e., start and end
print the list which has the even numbers between start to end (inclusive)

- start and end should be the user inputs
HINT:- You can create user inputs outside the function and pass them while calling

Sample Input:
  4
  20
Sample Output:
  [4, 6, 8, 10, 12, 14, 16, 18, 20]
"""

def numbers(start, end):
    res = []
    for num in range(start, end+1):
        if num % 2 == 0:
        	res.append(num)
    print(res)
start = int(input("Enter Start: "))
end = int(input("Enter End: "))
numbers(start, end)

[4, 6, 8, 10, 12, 14, 16, 18, 20]

In [18]:
""" 
Checking Palindromes
You need to check if each word in a list of words is a palindrome.
if it is palindrome, make the word as key and value as True
else, make the word as key and value as False

Sample Input:
  words = ["radar", "apple", "level", "world"]
Sample Output:
  {"radar":True, "apple":False, "level":True, "world":False}
"""
words = ["radar", "apple", "level", "world"]
palindrome_status = {}
for i in range(len(words)):
    if words[i] == words[i][::-1]:
        palindrome_status[words[i]] = True
    else:
        palindrome_status[words[i]] = False
print(palindrome_status)

{'radar': True, 'apple': False, 'level': True, 'world': False}

In [ ]:
""" 
Recursion Tasks:
  create a function that can generate 20 to 5 in reverse order
  create a function that will asks for user input 5 times and print after each input
"""

In [ ]:
"""
convert the following functions into anonymous functions
"""
def homepage(name, bank):
    return f"Hey {name}, Happy {bank} Banking"

def isNegative(num):
    return num<0

def multiply(n1, n2, n3=1):
    return n1*n2*n3

def check(num):
    return num > 0 and num != 4

In [ ]:
"""
complete the following with using only lambda
-> take two parameters(word, letter) and check if letter exists in word
   sample input: 
       codewala, w
   sample output:
       True
-> check if number is even and greater than 10 and divisible by 6
   sample input: 
       24
   sample output:
       True
"""

In [ ]:
""" 
Even numbers which are divided by 4 and 8 from 1 to 100 
							   using list comprehension
filter the negative numbers using filter
take float inputs separated by '-'
"""

In [ ]:
"""
Count Even and Odd Numbers in a List

Problem: Write a function that takes a list of numbers and 
		returns a tuple with two values: 
				count of evens and the count of odds in the list.

Hint: Use a loop and conditional statements to determine if a number is even or odd.

SOLVE THIS PROBLEM WITH & WITHOUT ===> filter <====

SAMPLE INPUT: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
SAMPLE OUTPUT: (5, 5)
"""